.error {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  h3 {
    font-weight: 400;
    text-align: center;
  }
  svg {
    max-width: 100px;
    filter: grayscale(100%);
    opacity: 0.3;
  }
}

.note {
  display: flex;
  align-items: center;
  background-color: #171A1E;
  border-radius: 4px;
  padding: 8px;
  margin-bottom: 10px;
  box-shadow: 0 0 0 1px #f2c94c, 0 0 0 2px #1d2126;
  svg {
    height: 32px;
    width: 32px;
    margin-right: 4px;
  }
  p {
    margin: 0;
  }
  code {
    font-size: 1.2em;
    background-color: #2F3136;
    border-radius: 4px;
    padding: 0 4px;
  }
  button {
    display: block;
    background-color: #2B323A;
    border: 0;
    border-radius: 4px;
    cursor: pointer;
    padding: 4px 8px;
    margin-top: 5px;
  }
}

.info {
  padding: 0 15px;
  input {
    background-color: transparent;
    border: none;
    width: 100%;
    border-bottom: 1px solid white;
    padding: 5px;
    margin-top: 5px;
  }
}

.banner {
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  background-color: #1d2126;
  height: 200px;
  &:hover {
    .bannerOverlay {
      opacity: 1;
    }
  }
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
  }
}

.disabledBanner {
  img {
    opacity: 0.5;
    filter: grayscale(100%);
    &:hover {
      opacity: 1;
      filter: grayscale(0%);
    }
    transition: filter 0.3s ease, opacity 0.3s ease;
  }
}

.bannerOverlay {
  opacity: 0;
  transition: opacity 80ms ease-in-out;
  transform: translateY(-50px);
  padding-right: 10px;
  display: flex;
  flex-direction: column;
  float: right;
  height: 40px;
  justify-content: flex-end;
  align-items: flex-end;
  .button {
    background-color: #5865F2;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 80ms ease-in-out;
    &:hover {
      background-color: #4752C4FF;
    }
    &:active {
      background-color: #4752C4FF;
    }
  }
  span {
    opacity: 0.4;
  }
  .original {
    opacity: 0.4;
    &:hover {
      text-decoration: underline;
      opacity: 1;
    }
    transition: opacity 80ms ease-in-out;
  }
  @media (hover: none) {
    opacity: 1;
  }
  @media (max-width: 570px) {
    transform: translateY(-195px);
  }
}

.content {
  display: inline-flex;
  gap: 10px;
  margin: -40px 16px 0;
  position: relative;
  background-color: #181B1F4C;
  padding: 10px;
  border-radius: 25px;
  backdrop-filter: blur(10px);
  @media (max-width: 450px) {
    margin: 0;
    backdrop-filter: none;
    background-color: transparent;
  }
  .details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 5px;
    b {
      font-size: 1.2em;
      text-shadow: 0 0 3px #21252b;
    }
  }
}

.noBanner { // .content
  margin: 0;
  backdrop-filter: none;
  background-color: transparent;
}

.block {
  display: flex;
  flex-direction: column;
}

.row {
  display: flex;
  align-items: center;
  gap: 5px;
}

.avatar {
  width: 80px;
  height: 80px;
  border-radius: 25px;
}

.status {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.online {
  background-color: #3BA55DFF;
}

.offline {
  background-color: #747F8DFF;
}

.splash {
  position: absolute;
  top: 50px;
  left: 0;
  width: 100%;
  height: calc(100% - 60px);
  opacity: 0.4;
  z-index: -1;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
  }
  &:after {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(#1d212600 75%, #1d2126 100%);
  }
}

.d {
  svg {
    display: inline;
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-right: 5px;
  }
}

.invite {
  color: #92EBFF;
  a {
    color: white;
    span {
      color: #75A8F9;
    }
  }
}

/*.cards {
  // grid with two columns and last odd column full width
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
  @media (max-width: 450px) {
    grid-template-columns: 1fr;
  }
}*/

.cards {
  display: flex;
  flex-wrap: wrap;
  & > div {
    flex: 50%;
  }
}

.flexGap {
  display: flex;
  flex-direction: column;
  gap: 1px;
  margin: 0;
  padding: 0 0 0 30px;
  word-break: break-word;
}
