.error {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  h3 {
    font-weight: 400;
    text-align: center;
  }
  svg {
    max-width: 100px;
    opacity: 0.3;
  }
}

.user {
  .banner, .accent {
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
    background-color: var(--c, #1d2126);
  }
  .banner {
    height: 200px;
    border: 3px solid var(--c);
    &:hover {
      .bannerOverlay {
        opacity: 1;
      }
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 10px;
    }
  }
  .accent {
    height: 70px;
  }
}

.bannerOverlay {
  opacity: 0;
  transition: opacity 80ms ease-in-out;
  transform: translateY(-30px);
  padding-right: 10px;
  display: flex;
  float: right;
  .button {
    background-color: #5865F2;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 80ms ease-in-out;
    &:hover {
      background-color: #4752C4FF;
    }
    &:active {
      background-color: #4752C4FF;
    }
  }
  .original {
    opacity: 0.4;
    &:hover {
      text-decoration: underline;
      opacity: 1;
    }
    transition: opacity 80ms ease-in-out;
  }
}

.info {
  display: flex;
  margin: -60px 16px 0;
  align-items: flex-end;
  .avatar {
    width: 120px;
    height: 120px;
    border-radius: 50%;
    border: 5px solid #21252b;
    background-color: #21252b;
    img {
      border-radius: 50%;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  .badges {
    background-color: #1d2126;
    border-radius: 4px;
    padding: 2px 4px;
    height: 30px;
    margin-bottom: 10px;
    user-select: none;
  }
}

.details {
  display: flex;
  flex-direction: column;
  background-color: #1d2126;
  border-radius: 10px;
  padding: 10px;
  gap: 10px;
  .name {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 2px solid #282C33;
    span {
      color: #b9bbbe;
    }
    .tag { // bot badge
      display: inline-flex;
      align-items: center;
      background-color: #5865f2; //#7289da
      border-radius: 4px;
      margin: 0 0 0 4px;
      font-size: 10px;
      font-weight: 500;
      span {
        color: #fff;
        padding: 2px 4px;
      }
    }
    .minor {
      background-color: #2f3136;
    }
  }
}

.data {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.value {
  display: flex;
  gap: 10px;
  align-items: center;
  p {
    display: inline-block;
    margin: 0;
    background-color: #171A1E;
    padding: 4px 8px;
    border-radius: 8px;
    cursor: pointer;
  }
}

.color {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: var(--c);
}

.json {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: -5px;
}

.note {
  display: flex;
  align-items: center;
  background-color: #171A1E;
  border-radius: 4px;
  padding: 4px 4px;
  margin-bottom: 10px;
  svg {
    height: 32px;
    width: 32px;
    margin-right: 4px;
  }
  box-shadow: 0 0 0 1px #f2c94c, 0 0 0 2px #1d2126;
}
