.snowflake {
  display: flex;
  flex-direction: column;
  gap: 10px;
  p {
    margin: 0;
    color: #C4C4C4;
  }
  span {
    color: white;
  }
}

.open {
  transform: rotate(180deg);
}

.options {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  margin: 0 0 1rem 0;
  gap: 5px;
  user-select: none;
  border-left: 2px solid #A6A6A6;
  padding-left: 5px;
}

.option {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  padding: 5px;
  span {
    width: 100%;
  }
  div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
  }
  button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid gray;
  }
  .selected {
    border-bottom: 2px solid #5865F2;
  }
}

.string {
  display: flex;
  gap: 5px;
  svg {
    width: 1rem;
    height: 1rem;
    color: gray;
  }
  svg {
    cursor: pointer;
  }
}

.date {
  font-size: 2em;
}

.timestamp {
  span {
    font-size: 1.5em;
  }
  small {
    font-size: 1em;
    color: #B7B7B7;
  }
}
