.container {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 10px;
  gap: 10px;
  input, select {
    width: 100%;
    border: none;
    border-bottom: 1px solid gray;
    padding: 5px;
    font-size: 1.2rem;
    outline: none;
    background-color: #21252b;
    &.error {
      border: 1px solid red;
    }
  }
}
