.container {
  display: flex;
  height: 100%;
}

.menu {
  display: flex;
  flex-direction: column;
  margin: 10px;
  gap: 10px;
  @media (max-width: 600px) {
    width: 100%;
  }
}

.commandsPicker {
  display: flex;
  flex-direction: column;
  width: 360px;
  @media (max-width: 600px) {
    width: 100%;
  }
}

.command {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 4px 10px;
  border-radius: 5px;
  user-select: none;
  cursor: pointer;
  svg {
    width: 32px;
    height: 32px;
  }
  p {
    margin: 0;
  }
  span {
    color: gray;
  }
  &:hover {
    background-color: #2f3136;
    img, .icon {
      border-radius: 15px;
    }
  }
  &:active {
    background-color: #23272a;
  }
  transition: background-color 80ms;
}
