.container {
  width: 100%;
  max-width: 620px;
  margin-right: auto;
  margin-left: auto;
  padding: 20px 1rem;
  display: flex;
  flex-direction: column;
  h2 {
    text-align: center;
  }
}

.logo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 5em;
  gap: 10px;
  h1 {
    text-align: center;
    font-weight: 600;
    font-size: min(16vw, 80px);
    background: linear-gradient(to right, #75A8F9, #92EBFF);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
  }
  svg {
    display: inline-block;
    height: min(80vw, 100px);
    @media (max-width: 300px) {
      display: none;
    }
  }
}
