.container {
  width: 100%;
  max-width: 620px;
  margin: 0 auto;
  padding: 20px 1rem;
  display: flex;
  flex-direction: column;
  gap: 10px;
  h1, h2 {
    margin: 0;
    width: 100%;
  }
  h2 {
    font-size: 1em;
    font-weight: 400;
  }
}

.input {
  width: 100%;
  max-width: 400px;
  margin: 10px auto;
  input {
    width: 100%;
    outline: 0;
    border-width: 0 0 2px;
    border-color: #d3d3d3;
    font-size: 24px;
    text-align: left;
    caret-color: #5865F2;
    padding: 1px 2px;
    background-color: transparent;
    &:hover {
      border-color: #A6A6A6;
    }
    &:active, &:focus {
      border-color: #5865F2;
    }
    &::selection {
      background-color: #5963DA;
      color: white;
    }
  }
}

.results {
  background-color: #21252b;
  border-radius: 10px;
  padding: 10px;
}
