.notFound {
  text-align: center;
  color: white;
  h1 {
    font-size: 60px;
    background: linear-gradient(to right, #7584ff, #92ebff, #7584ff);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    text-fill-color: transparent;
    background-size: 200% auto;
    animation: textShine 7s ease-in-out infinite alternate;
  }
}

@keyframes textShine {
  to {
    background-position: 200%;
  }
}
