.account {
  img {
    border-radius: 50%;
    float: left;
    height: 64px;
    width: 64px;
    margin-right: 10px;
  }
  span {
    padding-left: 2px;
    color: gray;
  }
  p {
    margin: 0;
    color: #3f673c;
  }
  :global .error {
    color: #ed4245;
  }
}

.imagePlaceholder {
  border-radius: 50%;
  float: left;
  height: 64px;
  width: 64px;
  margin-right: 10px;
  background-color: rgba(128, 128, 128, 0.01);
}
