.code {
  display: flex;
  position: relative;
  flex-direction: column;
  gap: 10px;
  overflow: hidden;
}

.content {
  background-color: #171A1E;
  border-radius: 10px;
  padding: 10px;
  word-break: break-word;
  overflow-x: hidden;
  overflow-y: scroll;
  max-height: 250px;
  &::-webkit-scrollbar {
    width: 5px;
  }
  &::-webkit-scrollbar-thumb {
    background: #2F3336;
    border-radius: 10px;
    padding-right: 10px;
  }
}

.tools {
  display: flex;
  position: absolute;
  right: 0;
  padding: 10px;
}

.external {
  width: 30px;
  height: 30px;
  padding: 0;
  background-color: transparent;
  object-fit: contain;
  border: none;
  cursor: pointer;
  svg {
    color: #8080807F;
  }
  &:hover {
    svg {
      color: #8080804C;
    }
  }
}

.header {
  color: gray;
  padding-bottom: 5px;
  font-size: 1.2em;
}
