.accountList {
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  b {
    padding: 10px;
  }
}

.accounts {
  display: flex;
  flex-direction: column;
  height: 100vh;
  gap: 10px;
}

.toast {
  background-color: #33383f;
  box-shadow: 0 1px 6px 0 #171717;
  border-color: #dfe1e500;
  border-radius: 4px;
  padding: 10px;
  animation: fadein 0.4s ease-in both;
  position: absolute;
  top: 60px;
  right: 10px;
}

@keyframes fadein {
  from {
    transform: translate3d(0, -20%, 0);
    opacity: 0;
  }
  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.empty {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}
