.header {
  position: sticky;
  top: 0;
  background-color: rgba(33, 37, 43, 0.8);
  backdrop-filter: blur(8px);
  padding: 5px;
  z-index: 2;
  height: 50px;
  display: flex;
}

.container {
  max-width: 960px;
  padding: 0 20px;
  margin: auto 0;
  display: flex;
  align-items: center;
  gap: 20px;
}

.glow {
  background:
    linear-gradient(to bottom, #ffffff00, #1d2126),
    linear-gradient(110deg, #7584ff, #1d2126);
  width: 100%;
  max-width: 400px;
  height: 50px;
  position: absolute;
}

.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  svg {
    width: 35px;
    height: 35px;
  }
  transition: color ease-out 80ms;
  span {
    transition: color ease-out 80ms;
  }
  font-size: 1.5em;
  &:hover {
    color: white;
    span {
      color: white;
    }
  }
  &:active {
    color: #c7c7c7;
    span {
      color: #c7c7c7;
    }
  }
  span {
    color: #75A8F9;
  }
  color: #92EBFF;
  cursor: pointer;
  user-select: none;
}

.nav {
  display: flex;
  align-items: center;
  gap: 10px;
  svg {
    width: 25px;
    height: 25px;
    cursor: pointer;
    transition: color ease-out 80ms;
    &:hover {
      color: #7584ff;
    }
    &:active {
      color: #5e6bcc;
    }
  }
}
