.list {
  display: flex;
  background-color: #FFFFFF0C;
  border-radius: 5px;
  height: 40px;
  align-items: center;
  cursor: pointer;
  user-select: none;
  &:hover {
    background-color: #FFFFFF14;
  }
  &:active {
    background-color: #FFFFFF0A;
  }
  img {
    padding: 5px;
    border-radius: 50%;
    height: 35px;
    justify-content: space-between;
  }
  span {
    width: 100%;
  }
  svg {
    margin-right: 10px;
  }
}

.open {
  svg {
    transform: scale(1, -1);
  }
}

.dropdown {
  position: absolute;
  width: 360px;
  background-color: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(8px);
  border-radius: 16px;
  margin-top: 10px;

  div {
    height: inherit;
    max-height: 200px;
  }
}

.imagePlaceholder {
  border-radius: 50%;
  height: 30.5px;
  width: 40px;
  margin: 5px;
  margin-right: 10px;
  background-color: rgba(128, 128, 128, 0.05);
}
