.footer {
  margin: auto 0 0;
  height: 50px;
  background-color: #21252b;
}

.container {
  max-width: 960px;
  padding: 0 20px;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  align-items: center;
  gap: 10px;
  height: 100%;
  color: #696d72;
}
