.copyToClipboard {
  display: inline-block;
  position: relative;
  height: 30px;
  width: 30px;
  button {
    height: 100%;
    width: 100%;
    padding: 0;
    background-color: transparent;
    object-fit: contain;
    border: none;
    cursor: pointer;
    outline: none;
    border-radius: 4px;
  }
  svg {
    color: #8080807F;
  }
  // show .tooltip on hover
  &:hover {
    .tooltip {
      display: block;
    }
    svg {
      color: #8080804C;
    }
  }
  &:active {
    svg {
      color: #80808033;
    }
  }
}

.tooltip {
  display: none;
  position: absolute;
  background: #1D212699;
  backdrop-filter: blur(3px);
  border: 2px solid #2B323A;
  border-radius: 8px;
  padding: 10px 15px;
  color: #fff;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
  bottom: calc(100% - 3px);
  left: calc(-100% + 4px);
  //bottom: calc(100% - 3px);
  //left: calc(-100% - 6px);
  &:after {
    content: "";
    position: absolute;
    top: 100% + 1;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #2B323A transparent transparent transparent;
  }
}
