.snowflake {
  display: flex;
  flex-direction: column;
  gap: 10px;
  p {
    margin: 0;
    color: #C4C4C4;
  }
  span {
    color: white;
  }
}

.head {
  display: flex;
  justify-content: space-between;
  padding-bottom: 5px;
  border-bottom: 2px solid #282C33;
  h4 {
    font-weight: 400;
    margin: 0;
  }
  button {
    border: none;
    background: none;
    object-fit: contain;
    width: 20px;
    height: 20px;
    padding: 0;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 80ms;
    &:hover {
      background-color: #FFFFFF19;
    }
    &:active {
      background-color: #FFFFFF0D;
    }
  }
  svg {
    color: #C4C4C4;
    transform: rotate(180deg);
  }
}

.hidden {
  svg {
    transform: rotate(0);
  }
  border-bottom: none;
  padding-bottom: 0;
}

.open {
  transform: rotate(180deg);
}

.options {
  display: flex;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  gap: 5px;
  user-select: none;
  border-left: 2px solid #A6A6A6;
  padding-left: 5px;
}

.option {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
  padding: 5px;
  span {
    width: 100%;
  }
  div {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
  }
  button {
    cursor: pointer;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid gray;
  }
  .selected {
    border-bottom: 2px solid #5865F2;
  }
}

.string {
  display: flex;
  gap: 5px;
  svg {
    width: 1rem;
    height: 1rem;
    color: gray;
    cursor: pointer;
  }
}

.date {
  font-size: 2em;
}

.timestamp {
  span {
    font-size: 1.5em;
  }
  small {
    font-size: 1em;
    color: #B7B7B7;
  }
}
